<div class="content">
  <div class="grid">
    <div class="col-12">
      <div class="grid">
        <div class="col-12">
          <h2 class="text-topic">Add Relief</h2>
        </div>
      </div>
      <div class="grid">
        <div class="col-12">
          <p-card>
            <div class="grid">
              <div class="field col-3">
                <p-calendar [showIcon]="true" placeholder="Date"></p-calendar>
              </div>
            </div>
            <div class="grid">
              <div class="col-12">
                <button pButton class="p-button-secondary pull-right" label="Reset" type="button" icon="pi pi-sync" iconPos="left"></button>
              </div>
            </div>
          </p-card>
        </div>
      </div>
      &nbsp; &nbsp;
      <div class="grid">
        <div class="col-12">
          <p-card>
            <div class="grid">
              <div class="col-3">
                <p-dropdown placeholder="Grade"></p-dropdown>
              </div>
              <div class="col-3">
                <p-dropdown placeholder="Class"></p-dropdown>
              </div>
            </div>
            <div class="grid">
              <div class="col-12">
                <button pButton class="p-button-secondary pull-right" type="button" label="Reset" icon="pi pi-sync" iconPos="left"></button>
                <button pButton class="p-button-success pull-right" type="button" label="Ok" icon="pi pi-check" iconPos="left"></button>
              </div>
            </div>
          </p-card>
        </div>
      </div>
      &nbsp; &nbsp;
      <div class="grid">
        <div class="col-12">
          <p-card>
            <div class="grid">
              <div class="field col-3">
                <p>Period 1 : Subject - </p>
              </div>
              <div class="field col-3">
                <p-dropdown placeholder="Filter"></p-dropdown>
              </div>
              <div class="field col-3">
                <p-dropdown placeholder="Teacher"></p-dropdown>
              </div>
              <div class="field col-3">
                <button pButton class="p-button-secondary pull-right" type="button" label="Reset" icon="pi pi-sync" iconPos="left"></button>
                <button pButton class="p-button-success pull-right" type="button" label="Add" icon="pi pi-check" iconPos="left"></button>
                <button pButton class="p-button-danger pull-right" type="button" label="Delete" icon="pi pi-times" iconPos="left"></button>
              </div>
            </div>
            <div class="grid">
              <div class="field col-3">
                <p>Period 2 : Subject - </p>
              </div>
              <div class="field col-3">
                <p-dropdown placeholder="Filter"></p-dropdown>
              </div>
              <div class="field col-3">
                <p-dropdown placeholder="Teacher"></p-dropdown>
              </div>
              <div class="field col-3">
                <button pButton class="p-button-secondary pull-right" type="button" label="Reset" icon="pi pi-sync" iconPos="left"></button>
                <button pButton class="p-button-success pull-right" type="button" label="Add" icon="pi pi-check" iconPos="left"></button>
                <button pButton class="p-button-danger pull-right" type="button" label="Delete" icon="pi pi-times" iconPos="left"></button>
              </div>
            </div>
            <div class="grid">
              <div class="field col-3">
                <p>Period 3 : Subject - </p>
              </div>
              <div class="field col-3">
                <p-dropdown placeholder="Filter"></p-dropdown>
              </div>
              <div class="field col-3">
                <p-dropdown placeholder="Teacher"></p-dropdown>
              </div>
              <div class="field col-3">
                <button pButton class="p-button-secondary pull-right" type="button" label="Reset" icon="pi pi-sync" iconPos="left"></button>
                <button pButton class="p-button-success pull-right" type="button" label="Add" icon="pi pi-check" iconPos="left"></button>
                <button pButton class="p-button-danger pull-right" type="button" label="Delete" icon="pi pi-times" iconPos="left"></button>
              </div>
            </div>
            <div class="grid">
              <div class="field col-3">
                <p>Period 4 : Subject - </p>
              </div>
              <div class="field col-3">
                <p-dropdown placeholder="Filter"></p-dropdown>
              </div>
              <div class="field col-3">
                <p-dropdown placeholder="Teacher"></p-dropdown>
              </div>
              <div class="field col-3">
                <button pButton class="p-button-secondary pull-right" type="button" label="Reset" icon="pi pi-sync" iconPos="left"></button>
                <button pButton class="p-button-success pull-right" type="button" label="Add" icon="pi pi-check" iconPos="left"></button>
                <button pButton class="p-button-danger pull-right" type="button" label="Delete" icon="pi pi-times" iconPos="left"></button>
              </div>
            </div>
            <div class="grid">
              <div class="field col-3">
                <p>Period 5 : Subject - </p>
              </div>
              <div class="field col-3">
                <p-dropdown placeholder="Filter"></p-dropdown>
              </div>
              <div class="field col-3">
                <p-dropdown placeholder="Teacher"></p-dropdown>
              </div>
              <div class="field col-3">
                <button pButton class="p-button-secondary pull-right" type="button" label="Reset" icon="pi pi-sync" iconPos="left"></button>
                <button pButton class="p-button-success pull-right" type="button" label="Add" icon="pi pi-check" iconPos="left"></button>
                <button pButton class="p-button-danger pull-right" type="button" label="Delete" icon="pi pi-times" iconPos="left"></button>
              </div>
            </div>
            <div class="grid">
              <div class="field col-3">
                <p>Period 6 : Subject - </p>
              </div>
              <div class="field col-3">
                <p-dropdown placeholder="Filter"></p-dropdown>
              </div>
              <div class="field col-3">
                <p-dropdown placeholder="Teacher"></p-dropdown>
              </div>
              <div class="field col-3">
                <button pButton class="p-button-secondary pull-right" type="button" label="Reset" icon="pi pi-sync" iconPos="left"></button>
                <button pButton class="p-button-success pull-right" type="button" label="Add" icon="pi pi-check" iconPos="left"></button>
                <button pButton class="p-button-danger pull-right" type="button" label="Delete" icon="pi pi-times" iconPos="left"></button>
              </div>
            </div>
            <div class="grid">
              <div class="field col-3">
                <p>Period 7 : Subject - </p>
              </div>
              <div class="field col-3">
                <p-dropdown placeholder="Filter"></p-dropdown>
              </div>
              <div class="field col-3">
                <p-dropdown placeholder="Teacher"></p-dropdown>
              </div>
              <div class="field col-3">
                <button pButton class="p-button-secondary pull-right" type="button" label="Reset" icon="pi pi-sync" iconPos="left"></button>
                <button pButton class="p-button-success pull-right" type="button" label="Add" icon="pi pi-check" iconPos="left"></button>
                <button pButton class="p-button-danger pull-right" type="button" label="Delete" icon="pi pi-times" iconPos="left"></button>
              </div>
            </div>
            <div class="grid">
              <div class="field col-3">
                <p>Period 8 : Subject - </p>
              </div>
              <div class="field col-3">
                <p-dropdown placeholder="Filter"></p-dropdown>
              </div>
              <div class="field col-3">
                <p-dropdown placeholder="Teacher"></p-dropdown>
              </div>
              <div class="field col-3">
                <button pButton class="p-button-secondary pull-right" type="button" label="Reset" icon="pi pi-sync" iconPos="left"></button>
                <button pButton class="p-button-success pull-right" type="button" label="Add" icon="pi pi-check" iconPos="left"></button>
                <button pButton class="p-button-danger pull-right" type="button" label="Delete" icon="pi pi-times" iconPos="left"></button>
              </div>
            </div>
            <div class="grid">
              <div class="col-12">
                <button pButton class="p-button-secondary pull-right" type="button" label="Reset" icon="pi pi-sync" iconPos="left"></button>
                <button pButton class="p-button-success pull-right" type="button" label="Add" icon="pi pi-check" iconPos="left"></button>
                <button pButton class="p-button-danger pull-right" type="button" label="Delete" icon="pi pi-times" iconPos="left"></button>
              </div>
            </div>
          </p-card>
        </div>
      </div>
    </div>
  </div>
</div>
