<div class="content">
  <div class="grid">
    <div class="col-12">
      <div class="grid">
        <div class="col-12">
          <p class="text-topic">Add Relief</p>
        </div>
      </div>
      <div class="grid">
        <div class="col-12">
          <p-card>
            <div class="grid">
              <div class="col-3">
                <p-calendar [showIcon]="true" placeholder="Date"></p-calendar>
              </div>
            </div>
          </p-card>
        </div>
      </div>
      <div class="grid">
        <div class="col-12">
          <p-card>
            <div class="grid">
              <div class="col-3">
                <p-dropdown placeholder="Grade"></p-dropdown>
              </div>
              <div class="col-3">
                <p-dropdown placeholder="Class"></p-dropdown>
              </div>
            </div>
          </p-card>
        </div>
      </div>
    </div>
  </div>
</div>
